.app{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do-list-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.new-item-container {
  display: flex;
  flex-direction: row;
}

.new-item-input {
  margin-right: 5px;
}

.to-do-list{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
